.label {
  font-weight: 600;
}

.inputReadOnly {
  border-color: var(--mantine-color-gray-1);
  background-color: var(--mantine-color-gray-0);
  cursor: default;
}

.inputReadOnly:focus {
  border-color: var(--mantine-color-gray-5);
}
