@import 'tailwindcss';

:root {
  --color-border: oklch(35% 0 0);
  --color-input: oklch(85% 0 0);
  --color-ring: oklch(40% 0 0);

  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(15% 0 0);

  --color-primary: oklch(42.5% 0.18 276);
  --color-primary-content: oklch(100% 0 0);

  --color-secondary: oklch(75% 0.183 56);
  --color-secondary-content: oklch(15% 0 0);

  --color-neutral: oklch(37% 0.01 68);
  --color-neutral-content: oklch(100% 0 0);

  --color-info: oklch(74% 0.16 233);
  --color-info-content: oklch(15% 0 0);

  --color-success: oklch(62% 0.2 145);
  --color-success-content: oklch(100% 0 0);

  --color-warning: oklch(82% 0.189 84);
  --color-warning-content: oklch(15% 0 0);

  --color-danger: oklch(60% 0.21 25);
  --color-danger-content: oklch(100% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;

  color-scheme: light dark;
}

@theme {
  --color-border: var(--color-border);
  --color-input: var(--color-input);
  --color-ring: var(--color-ring);

  --color-base-100: var(--color-base-100);
  --color-base-200: var(--color-base-200);
  --color-base-300: var(--color-base-300);
  --color-base-content: var(--color-base-content);

  --color-primary: var(--color-primary);
  --color-primary-content: var(--color-primary-content);

  --color-secondary: var(--color-secondary);
  --color-secondary-content: var(--color-secondary-content);

  --color-neutral: var(--color-neutral);
  --color-neutral-content: var(--color-neutral-content);

  --color-info: var(--color-info);
  --color-info-content: var(--color-info-content);

  --color-success: var(--color-success);
  --color-success-content: var(--color-success-content);

  --color-warning: var(--color-warning);
  --color-warning-content: var(--color-warning-content);

  --color-danger: var(--color-danger);
  --color-danger-content: var(--color-danger-content);

  --radius-selector: var(--radius-selector);
  --radius-field: var(--radius-field);
  --radius-box: var(--radius-box);
  --size-selector: var(--size-selector);
  --size-field: var(--size-field);
  --border: var(--border);
  --depth: var(--depth);
  --noise: var(--noise);
}
